*{
    font-size:18px;
}

body{
	transform:rotate(0.05deg);
}

a{
    color:navy;
}

hr{
    border:0;
    height:1px;
    background-color:gray;
	transform:rotate(-0.05deg);
}

h2{
    font-size:28px;
}

img{
    padding:6px 0;
	transform:rotate(-0.05deg);
}

#Wrap{
    width:98%;
    margin:auto;
    padding:10px 0;
    overflow:hidden;
    font-family:"Migmix";
}

#WrapLeft{
    width:49%;
    padding:20px 0;
    float:left;
    text-align:center;
}

#WrapRight{
    width:49%;
    float:right;
}

#AppName{
    font-size:36px;
    padding:10px 0;
}