/*
Nagaharu DTP v1.0 (Dev) - main.css
(c)2016 Sora Arkw all rights reserved.


*/

@page{
	margin:0;
	size:auto;
}

*{
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:rgb(37,37,38);
	font-family:"Migmix";
}

body{
	-webkit-print-color-adjust: exact;
}

h4{
	font-size:20px;
	font-weight:bold;
}

/* 編集禁止用幕 */
#NoEdit{
	z-index:94;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:black;
	opacity:0.7;
}

/* ダイアログ */
.Dialog{
	z-index:96;
	position:fixed;
	top:35%;
	left:20%;
	width:60%;
	background-color:rgb(37,37,38);
	color:rgb(212,212,212);
	border:solid 2px rgb(212,212,212);
	padding:10px;
}

.DialogBtn{
	font-size:16px;
	color:rgb(230,230,230);
	text-decoration:none;
	border:solid 1px rgb(230,230,230);
	padding:5px;
	
}

/* ヘッダー */
#header{
	width:100%;
	height:64px;
	background-color:rgb(30,30,30);
	color:rgb(212,212,212);
}

.btn{
	width:100px;
	background-color:rgb(38,37,37);
	color:rgb(173,173,173);
	padding:10px 0;
	margin:8px 4px;
	text-align:center;
	transition-duration: 0.5s;
	float:left;
}

#btn_toolbox{
	width:100px;
	background-color:rgb(38,37,37);
	color:rgb(173,173,173);
	border:solid 1px rgb(173,173,173);
	padding:10px 0;
	margin:8px 4px;
	text-align:center;
	transition-duration: 0.5s;
	float:left;
}

.btn:hover,#btn_toolbox:hover{
	background-color:rgb(173,173,173);
	color:rgb(38,37,37);
}

/* メイン画面 */
#Main{
	width:99%;
	height:10vh;
}

/* 	左半分 */
#left{
	width:70%;
	height:89vh;
	float:left;
	overflow:scroll;
}

/* 紙枠 */
#Paper{
	margin:0;
	padding:0;
	background-color:white;
	position:relative;
}

/* データ設定枠 */
#right{
	width:28%;
	height:88vh;
	background-color:rgb(37,37,38);
	color:rgb(212,212,212);
	padding:6px;
	float:right;
}

#right input,select,option{
	background-color:rgb(212,212,212);
	color:rgb(38,37,37);
	font-size:14px;
	font-family:"Migmix";
	width:100%;
}

/* シート */
.Nghr_TextBox{
	position:absolute;
	width:auto;
	background-color:transparent;
	padding:4;
	font-size:14px;
	line-height:20px;
	letter-spacing:0px;
	overflow:hidden;
	border:dotted 1px black;
	writing-mode: lr-tb;
	display: flex;
    align-items: center;
}

.Nghr_TextBox span,b,i,u{
	background-color:transparent;
	height:auto;
	overflow:visible;
}

#EditMode{
	font-size:14px;
}

#EditTxData{
	background-color:rgb(212,212,212);
	color:rgb(38,37,37);
	margin:8px 4px;
	width:90%;
	height:100px;
}

#TextStyleLink{
	font-size:16px;
	color:rgb(230,230,230);
	text-decoration:none;
}

/* 図形シート */
.ShapeSquare{
	width: 100%;
	height: 100%;
	border-radius:0%;
	background: black;
}